![](https://www.dii.uchile.cl/wp-content/uploads/2021/06/Magi%CC%81ster-en-Ciencia-de-Datos.png)

**MDS7202: Laboratorio de Programaci√≥n Cient√≠fica para Ciencia de Datos**

### üë®‚Äçüè´üë©‚Äçüè´ Cuerpo Docente:

- Profesor: Sebasti√°n Tinoco, Stefano Schiappacasse
- Auxiliar: Melanie Pe√±a Torres, Valentina Rojas Osorio
- Ayudante: Valentina Zu√±iga, √Ångelo Mu√±oz 

### üë®‚Äçüíªüë©‚Äçüíª Estudiantes:
- Estudiante n¬∞1: J. Vicente Onetto
- Estudiante n¬∞2: Renzo Zanca

_Por favor, lean detalladamente las instrucciones de la tarea antes de empezar a escribir._

---

---

## üìñ Enunciado

<div align="center">
    <img src='https://github.com/MDS7202/MDS7202/blob/main/recursos/2025-01/proyecto/proyecto.png?raw=true' style="border-radius: 12px"> 
</div>

En el competitivo universo de las bebidas gaseosas, la empresa **SodAI Drinks ü•§** ha logrado destacarse por su creatividad, diversidad de productos y enfoque centrado en el cliente. Ofrece una extensa gama de bebidas carbonatadas que abarca distintos segmentos del mercado: desde productos premium en presentaciones sofisticadas, hasta gaseosas accesibles para el consumo masivo, disponibles en diversos tama√±os y tipos de envases. 

La compa√±√≠a opera en m√∫ltiples regiones y zonas, sirviendo a una variedad de puntos de venta que incluyen desde tiendas de conveniencia y minimarkets hasta el canal fr√≠o tradicional. Cada tipo de cliente tiene sus particularidades: algunos reciben entregas hasta 4 veces por semana, mientras que otros son visitados por la fuerza de ventas solo una vez semanalmente. Esta diversidad de perfiles representa tanto una oportunidad como un desaf√≠o comercial: ¬øc√≥mo saber qu√© productos tienen m√°s chances de ser comprados por cada cliente en un momento dado?

Con el objetivo de aumentar la facturaci√≥n de forma inteligente y mejorar la eficiencia de su estrategia de ventas, **SodAI Drinks** decide crear una nueva c√©lula interna de innovaci√≥n: el equipo **Deep Drinkers ü§ñ**, cuyo prop√≥sito es aplicar ciencia de datos para anticiparse a las necesidades del cliente y potenciar el negocio desde una perspectiva basada en informaci√≥n.

El coraz√≥n de esta iniciativa es el desarrollo de un sistema predictivo personalizado para cada cliente. Para ello, **Deep Drinkers** convoca a un equipo de Data Scientists y especialistas en *machine learning* con una misi√≥n clara: construir un modelo predictivo que, cada semana, pueda estimar la probabilidad de compra de cada producto del portafolio para cada cliente activo.

El modelo deber√° tener en cuenta m√∫ltiples factores, incluyendo:
- **Tipo de cliente**, ej. "TIENDA DE CONVENIENCIA", "MINIMARKET".
- **Frecuencia de entregas y visitas**, indicadores del nivel de actividad comercial.
- **Ubicaci√≥n geogr√°fica** (por regi√≥n y zona).
- **Preferencias hist√≥ricas de consumo**, inferidas por patrones de compra anteriores.
- **Caracter√≠sticas del producto**, como marca, categor√≠a, segmento, tipo de envase y tama√±o

El objetivo final es que, **cada semana**, se genere una tabla de productos priorizados: para cada cliente, un listado de productos ordenado por su probabilidad estimada de compra. Esta informaci√≥n ser√° enviada al equipo comercial, que podr√° usarla en call center, para incrementar las chances de concretar ventas al ofrecer justo lo que el cliente probablemente quiere comprar.

Este proyecto representa un cambio de paradigma en la forma en que **SodAI Drinks** gestiona su fuerza de ventas: de un enfoque reactivo y generalista, a uno proactivo, basado en datos y profundamente personalizado. As√≠, la empresa no solo espera aumentar su rentabilidad, sino tambi√©n construir relaciones m√°s s√≥lidas con sus clientes, ofreci√©ndoles recomendaciones m√°s relevantes y oportunas.

Para lograr lo anterior, el equipo **Deep Drinkers** contar√° con los siguientes conjuntos de datos, junto a sus respectivos atributos:

- **Datos transaccionales** (`transacciones.parquet`): contiene el historial de compras realizadas por los clientes.
	- `customer_id`: identificador √∫nico del cliente que realiz√≥ la compra.
	- `product_id`: identificador √∫nico del producto comprado.
	- `purchase_date`: fecha en que se realiz√≥ la transacci√≥n.
	- `order_id`: identificar de la orden de su pedido.
	- `payment`	monto total pagado por la transacci√≥n.

- **Datos de clientes** (`clientes.parquet`): incluye las caracter√≠sticas de cada cliente.
	- `customer_id`: identificador √∫nico del cliente.
	- `region_id`: identificador de la regi√≥n geogr√°fica donde se encuentra el cliente.
	- `customer_type`: tipo de cliente seg√∫n el canal comercial, por ejemplo, ‚ÄúTIENDA DE CONVENIENCIA‚Äù.
	- `Y`: coordenada geogr√°fica de latitud.
	- `X`: coordenada geogr√°fica de longitud.
	- `num_deliver_per_week`: cantidad de entregas semanales que recibe el cliente.
	- `num_visit_per_week`: frecuencia de visitas de la fuerza de ventas por semana.

- **Datos de productos** (`productos.parquet`): describe las caracter√≠sticas de los productos del portafolio.
	- `product_id`: identificador √∫nico del producto.
	- `brand`: marca comercial del producto.
	- `category`: categor√≠a general del producto, como ‚ÄúBEBIDAS CARBONATADAS‚Äù.
	- `sub_category`: subcategor√≠a dentro de la categor√≠a principal, por ejemplo, ‚ÄúGASEOSAS‚Äù.
	- `segment`: segmento de mercado al que pertenece el producto, como ‚ÄúPREMIUM‚Äù.
	- `package`: tipo de envase del producto.
	- `size`: tama√±o del producto en litros.

## üìö Reglas

<center>
<img src="https://media1.tenor.com/m/0Qtv_cQ4ITsAAAAd/necohaus-grey-name.gif" width="450">



El proyecto consta de **dos entregas parciales** y una **entrega final** en donde la primera entrega la idea es poder reflejar lo aprendido durante la primera mitad del curso, que ser√° sobre los contenidos relacionados a *machine learning*, la segunda ser√° sobre los contenidos de la segunda mitad del curso relacionados a *MLOps* y por √∫ltimo la entrega final constar√° de dos partes, donde la primera ser√° relacionada con experimentaci√≥n sobre nuevos datasets que ser√°n disponibilizados durante las √∫ltimas semanas del curso de manera incremental y una segunda parte que ser√° el informe final escrito que deber√° explicar el desarrollo del proyecto completo, como tambien los resultados y an√°lisis de los experimentos realizados sobre los datasets incrementales. La idea es que todo el c√≥digo est√© desarrollado durante las primeras dos entregas y luego en la entrega final s√≥lo se ejecute el c√≥digo sobre nuevos conjuntos de datos.

La idea de generar el proyecto por etapas es poder aliviar la carga de trabajo en las √∫ltimas semanas del semestre donde sabemos que est√°n muy cargado con entregas, pruebas y ex√°menes de otros ramos, y as√≠ garantizamos que habiendo la desarrollado las dos primeras entregas parciales, tendr√°n el grueso del proyecto listo para luego experimentar y documentar.

---
### **Fechas de entrega**
- **Entrega parcial 1**: 14 de Mayo
- **Entrega parcial 2**: Por definir
- **Entrega final**: Por definir

---

### **Requisitos del proyecto**
- **Grupos**: Formar equipos de **2 personas**. No se aceptar√°n trabajos individuales o grupos con m√°s integrantes.
- **Consultas**: Cualquier duda fuera del horario de clases debe ser planteada en el foro correspondiente. Los mensajes enviados al equipo docente ser√°n respondidos √∫nicamente por este medio. Por favor, revisen las respuestas anteriores en el foro antes de realizar nuevas consultas.
- **Plagio**: La copia o reutilizaci√≥n no autorizada de trabajos de otros grupos est√° **estrictamente prohibida**. El incumplimiento de esta norma implicar√° la anulaci√≥n inmediata del proyecto y una posible sanci√≥n acad√©mica.
- **Material permitido**: Pueden usar cualquier material del curso, ya sea notas, lecturas, c√≥digos, o referencias proporcionadas por los docentes, que consideren √∫til para el desarrollo del proyecto.

---

### **Entregables y etapas**

#### **1. Entrega Parcial 1**  
- Dispondr√°n de los archivos de datos **productos.parquet**, **clientes.parquet** y **transacciones.parquet** para el modelamiento inicial.  
- Utilizar√°n estos archivos para desarrollar lo solicitado para la entrega 1. 
- En esta etapa, se espera que apliquen todos los conocimientos aprendidos durante la primera parte del curso relacionados con *machine learning*.
- **Informe**: No se exige un avance del informe en esta etapa, s√≥lo un notebook con su desarrollo actual, pero se **recomienda comenzar** a redactar el informe final en paralelo para disminuir la carga acad√©mica en las etapas posteriores.  

#### **2. Entrega Parcial 2**  
- En esta entrega, deber√°n aplicar los conocimientos aprendidos durante la segunda mitad del curso sobre *MLOps*  
- Se espera que implementen estos conocimientos para desplegar su modelo elegido en la primera entrega y crear *pipelines* automatizados que simulen un entorno productivo.
- **Informe**: similar a la primera etapa, no se exige un avance del informe, pero se **recomienda avanzar con su redacci√≥n** para evitar una acumulaci√≥n de trabajo en la etapa final.  

#### **3. Entrega Final**  
- En la entrega final, deber√°n realizar dos etapas:
	- La primera etapa es sobre experimentaci√≥n utilizando datasets incrementales que se ir√°n disponibilizando de manera parcial, para que vayan generando predicciones con su modelo ya desplegado. El objetivo de esta etapa es poder testear su soluci√≥n *end-to-end* y que vayan analizando los resultados obtenidos a medida que se van agregando m√°s datos.
	- La segunda etapa consiste en redactar un informe final que deber√° explicar el desarrollo completo de tu proyecto y un an√°lisis profundo de sus resultados de experimentaci√≥n. Este informe debera incluir a lo menos las siguientes secciones:
		- An√°lisis exploratorio de datos  
		- Metodolog√≠a aplicada  
		- Selecci√≥n y entrenamiento de modelos  
		- Evaluaci√≥n de resultados  
		- Optimizaci√≥n de modelos
		- Interpretabilidad
		- Re-entrenamiento
		- Tracking con MLFlow
		- Creaci√≥n de la aplicaci√≥n web con Gradio y FastAPI

Es **altamente recomendable** ir redactando el informe en paralelo al desarrollo de los modelos para garantizar que toda la informaci√≥n relevante quede documentada adecuadamente.  

### Nota Final

La calificaci√≥n final de su proyecto se calcular√° utilizando la siguiente ponderaci√≥n: 

$$Nota Final = 0.30 * EntregaParcial1 + 0.40 * EntregaParcial2 + 0.30 * EntregaFinal$$

---

### **Instrucciones importantes**

1. **Formato del informe**:  
   - El informe debe estar integrado dentro de un **Jupyter Notebook**. No es necesario subirlo a una plataforma externa, pero debe cumplir con los siguientes requisitos:  
     - Estructura clara y ordenada.  
     - C√≥digo acompa√±ado de explicaciones detalladas.  
     - Resultados presentados de forma visual y anal√≠tica.  

2. **Descuento por informes deficientes**:  
   - Cualquier secci√≥n del informe que no tenga una explicaci√≥n adecuada o no respete el formato ser√° penalizada con un descuento en la nota. Esto incluye c√≥digo sin comentarios o an√°lisis que no sean coherentes con los resultados presentados.
   - Comentarios sin formatear de ChatGPT o herramientas similares ser√°n penalizados (e.g: "Inserta tu modelo ac√°", etc.)

# üì¨ Entrega Parcial 1 (30% del Proyecto)

### üì™ Fecha de Entrega: 14 de Mayo

## üìå Abstract [0.25 puntos]

<center>
<img src="https://i.redd.it/h5ptnsyabqvd1.gif" width="400" height="300">

En esta secci√≥n, deben redactar un Abstract claro y conciso para su proyecto. El Abstract debe responder a las siguientes preguntas clave:

- **Descripci√≥n del problema**: ¬øCu√°l es el objetivo del proyecto? ¬øQu√© se intenta predecir o analizar?
- **Datos de entrada**: ¬øQu√© datos tienen disponibles? ¬øCu√°les son sus principales caracter√≠sticas?
- **M√©trica de evaluaci√≥n**: ¬øC√≥mo medir√°n el desempe√±o de sus modelos? Expliquen por qu√© eligieron esta m√©trica bas√°ndose en el an√°lisis exploratorio de los datos.
- **Modelos y transformaciones**: ¬øQu√© modelos utilizar√°n y por qu√©? ¬øQu√© transformaciones o preprocesamientos aplicaron a los datos?
- **Resultados generales**: ¬øEl modelo final cumpli√≥ con los objetivos del proyecto? ¬øCu√°les fueron las conclusiones m√°s importantes?

**Importante**: Escriban esto despues de haber resuelto el resto de la tarea.

> [Escriba aqu√≠ su Abstract]

## üìå Pre-procesamiento [0.5 puntos]

<center>
<img src="https://media0.giphy.com/media/10zsjaH4g0GgmY/giphy.gif?cid=6c09b9523xtlunksc9amikw09zk1bmiqwjqnt70ae82rk877&ep=v1_gifs_search&rid=giphy.gif&ct=g" width="400" height="300">

Tal como en muchos otros problemas de negocio, los datos probablemente deben ser pre procesados antes de aplicar cualquier t√©cnica de anal√≠tica. Bajo esa premisa, en esta secci√≥n deben desarrollar c√≥digo que les permita **preparar los datos** de tal forma que les permita resolver el problema planteado. Para esto, pueden aplicar procesamientos como:

- Transformaciones de tipo de dato (str, int, etc)
- Cruce de informaci√≥n
- Eliminaci√≥n de duplicados
- Filtros de fila y/o columnas

*Hint: ¬øQu√© forma deber√≠a tener la data para resolver un problema de aprendizaje supervisado?*

Todo proceso llevado a cabo debe estar bien documentado y justificado en el informe, explicando el por qu√© se decidi√≥ realizar en funcion de los datos presentados y los objetivos planteados del proyecto.

### Clientes

In [5]:
import pandas as pd

clients = pd.read_parquet("clientes.parquet")
clients.head()

,customer_id,region_id,zone_id,customer_type,Y,X,num_deliver_per_week,num_visit_per_week
10705,256017,80,5148,ABARROTES,-46.474800,-108.045140,1,1
10706,255780,80,5148,ABARROTES,-46.520282,-107.961052,1,1
10707,254655,80,5148,ABARROTES,-46.537640,-107.909280,1,1
10708,254445,80,5148,ABARROTES,-46.543526,-107.917954,2,1
10709,254403,80,5148,ABARROTES,-46.540856,-107.905792,3,1

In [24]:
clients.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1569 entries, 10705 to 12273
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   customer_id           1569 non-null   int64
 1   region_id             1569 non-null   int64
 2   zone_id               1569 non-null   int64
 3   customer_type         1569 non-null   object
 4   Y                     1569 non-null   float64
 5   X                     1568 non-null   float64
 6   num_deliver_per_week  1569 non-null   int64
 7   num_visit_per_week    1569 non-null   int64
dtypes: float64(2), int64(5), object(1)
memory usage: 110.3+ KB

Los tipos de las variables estan acorde a lo que representan y notamos un √∫nico valor nulo para la coordenada X

In [ ]:
# inspeccionar duplicados:
clients[clients.duplicated()]

Empty DataFrame
Columns: [customer_id, region_id, zone_id, customer_type, Y, X, num_deliver_per_week, num_visit_per_week]
Index: []

No tenemos valores duplicados

### Productos

In [6]:
products = pd.read_parquet("productos.parquet")
products.head()

,product_id,brand,category,sub_category,segment,package,size
0,34092,Brand 31,BEBIDAS CARBONATADAS,GASEOSAS,PREMIUM,BOTELLA,0.66
1,57290,Brand 31,BEBIDAS CARBONATADAS,GASEOSAS,PREMIUM,BOTELLA,0.66
2,56714,Brand 31,BEBIDAS CARBONATADAS,GASEOSAS,PREMIUM,BOTELLA,0.66
3,296616,Brand 31,BEBIDAS CARBONATADAS,GASEOSAS,PREMIUM,BOTELLA,0.66
4,60854,Brand 31,BEBIDAS CARBONATADAS,GASEOSAS,PREMIUM,BOTELLA,0.25

In [27]:
products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 971 entries, 0 to 970
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   product_id    971 non-null    int64
 1   brand         971 non-null    object
 2   category      971 non-null    object
 3   sub_category  971 non-null    object
 4   segment       971 non-null    object
 5   package       971 non-null    object
 6   size          971 non-null    float64
dtypes: float64(1), int64(1), object(5)
memory usage: 53.2+ KB

No tenemos valores nulos y los tipos de las columnas corresponden.

In [28]:
products['size'].describe()

count    971.000000
mean       1.420525
std        3.897778
min        0.125000
25%        0.310000
50%        0.500000
75%        1.000000
max       20.000000
Name: size, dtype: float64

In [30]:
products[products.duplicated()]

Empty DataFrame
Columns: [product_id, brand, category, sub_category, segment, package, size]
Index: []

No tenemos valores duplicados

### Transacciones

In [7]:
transactions = pd.read_parquet("transacciones.parquet")
transactions.head()

     customer_id  product_id  order_id purchase_date     items
124        61353       61364    411145    2024-04-27 -0.333333
127        61899        1370    411156    2024-04-27  3.666667
344       154077       30500    417911    2024-04-29  2.333333
349       164337       56714    418100    2024-04-29 -2.333333
354       172056       61672    407162    2024-04-26  1.000000

In [31]:
transactions.info()

<class 'pandas.core.frame.DataFrame'>
Index: 254936 entries, 124 to 7712548
Data columns (total 5 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   customer_id    254936 non-null  int64
 1   product_id     254936 non-null  int64
 2   order_id       254936 non-null  int64
 3   purchase_date  254936 non-null  datetime64[ns]
 4   items          254936 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(3)
memory usage: 11.7 MB

In [32]:
products.loc[products['product_id'] == 61364]

,product_id,brand,category,sub_category,segment,package,size
462,61364,Brand 35,BEBIDAS CARBONATADAS,GASEOSAS,MEDIUM,BOTELLA,1.0

In [33]:
transactions['items'].describe()

count    254936.000000
mean          4.378552
std          12.098818
min        -399.666667
25%           1.000000
50%           2.333333
75%           3.666667
max        1000.333333
Name: items, dtype: float64

Notamos que no hay valores nulos. La columna items parece no tener mucho sentido que sea de tipo float, ya que no se puede comprar una cantidad decimal de productos como gaseosas. Adem√°s notamos que hay cantidades negativas en items.

In [35]:
products['category'].unique() # asegurar que solo sean bebidas

array(['BEBIDAS CARBONATADAS', 'BEBIDAS NO CARBONATADAS'], dtype=object)

In [39]:
# valores duplicados:
transactions[transactions.duplicated()]

         customer_id  product_id  order_id purchase_date  items
7217          212550       61364    419150    2024-04-29      0
14464         217782       57804    419391    2024-04-29      7
26103         217782       50716    419391    2024-04-29     33
32338         197286       11262    418607    2024-04-29      1
42356          61353       11262    411145    2024-04-27      0
...              ...         ...       ...           ...    ...
7691409       154551       11262    504913    2024-06-03      1
7696763       212550       61364    505599    2024-06-03      1
7697616       176643       56714    505052    2024-06-03      1
7704734       188196       61364    489536    2024-05-27      1
7709868       207339       59816    489756    2024-05-27      1

[1215 rows x 5 columns]

In [40]:
# eliminar duplicados:
transactions = transactions.drop_duplicates()

In [41]:
transactions[transactions['items'] < 0]

         customer_id  product_id  order_id purchase_date  items
349           164337       56714    418100    2024-04-29     -2
359           176643       56714    418196    2024-04-29     -2
362           181593       56714    418241    2024-04-29     -2
363           183213       61348    418256    2024-04-29     -1
367           184698        1370    418277    2024-04-29     -1
...              ...         ...       ...           ...    ...
7703661       156489       30500    489422    2024-05-27     -1
7707199       205821       57414    489737    2024-05-27     -1
7707738       205821       61542    489737    2024-05-27     -1
7709645       205821       56714    489737    2024-05-27     -1
7710449       205821       61364    489737    2024-05-27     -1

[6087 rows x 5 columns]

Aca decidir si se borran o no 6087 filas y si tiene sentido cambiar a int

In [37]:
# convertir a int64 los items:
transactions['items'] = transactions['items'].astype('int64')
transactions.head()

     customer_id  product_id  order_id purchase_date  items
124        61353       61364    411145    2024-04-27      0
127        61899        1370    411156    2024-04-27      3
344       154077       30500    417911    2024-04-29      2
349       164337       56714    418100    2024-04-29     -2
354       172056       61672    407162    2024-04-26      1

TO-DO:

- Cruzar informaci√≥n
- Checkear si al cruzar son los mismos clientes y productos que en transactions
- Filtros de columnas
- Decidir que hacer con columna items

## üìå EDA [0.5 puntos]

<center>
<img src="https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExbHZ6aGdkd21tYTI3cW8zYWhyYW5wdGlyb2s3MmRzeTV0dzQ1NWlueiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/3k1hJubTtOAKPKx4k3/giphy.gif" width="400" height="200">

En esta secci√≥n, se debe realizar un an√°lisis exploratorio de los datos para comprender su estructura, detectar posibles problemas y obtener informaci√≥n relevante para el entrenamiento de los modelos. La idea es que puedan detectar **patrones en los datos** que les permitan resolver el problema con mayor facilidad.

Se deben responder preguntas a partir de lo que puedan visualizar/obtener, por ejemplo:

- Clientes y productos

    - ¬øCu√°ntos clientes √∫nicos hay en el dataset?

    - ¬øCu√°ntos productos √∫nicos se encuentran en los datos?

- Periodo y frecuencia

    - ¬øDe qu√© periodo es la informaci√≥n disponible?

    - ¬øCu√°l es la frecuencia de los registros (diaria, semanal, mensual, etc.)?

- Calidad de los datos

    - ¬øExisten valores nulos en el dataset? ¬øCu√°ntos? ¬øC√≥mo se pueden tratar?

    - ¬øHay datos raros, como cantidades negativas o inconsistencias? Genere tests de validaci√≥n para identificar estos problemas.

- Patrones de compra

    - ¬øCu√°ntos productos compra en promedio cada cliente semana a semana?

    - ¬øCu√°ntas transacciones ha realizado cada cliente?

    - ¬øCu√°l es el periodo de recompra promedio de cada SKU?

In [42]:
# 1. Valores √∫nicos
print(f"{len(transactions)} transacciones en total")
print(f"{transactions['order_id'].nunique()} √≥rdenes")

print("\nClientes:")
print(f"{clients['customer_id'].nunique()} clientes √∫nicos")
print(f"{transactions['customer_id'].nunique()} clientes con transacciones")

print("\nProductos:")
print(f"{products['product_id'].nunique()} productos √∫nicos")
print(f"{transactions['product_id'].nunique()} productos en transacciones")

253721 transacciones en total
64600 √≥rdenes

Clientes:
1569 clientes √∫nicos
1490 clientes con transacciones

Productos:
971 productos √∫nicos
114 productos en transacciones

In [44]:
# 2. Periodo y frecuencia
print(f"Periodo de tiempo: {transactions['purchase_date'].min()} - {transactions['purchase_date'].max()}")

# TO-DO: calcular la frecuencia de los registros

Periodo de tiempo: 2024-01-01 00:00:00 - 2024-12-31 00:00:00

In [ ]:
# 3. Calidad de los datos
# TO-DO: implementar

In [ ]:
# 4. Patrones de compra
client_transactions = transactions.groupby('customer_id').agg('count').reset_index()
client_transactions = client_transactions[['customer_id', 'items']]
client_transactions.columns = ['customer_id', 'transactions_count']
client_transactions.sort_values('transactions_count', ascending=False, inplace=True)
client_transactions.head(10)

     customer_id  transactions_count
416       183105                1596
570       197286                1303
456       186174                1281
138       153303                1206
492       188331                1189
2          25749                1181
483       187806                1108
568       196845                1094
545       194229                1073
98         72930                1068

In [97]:
client_transactions['transactions_count'].describe()

count    1490.000000
mean      170.282550
std       182.331907
min         1.000000
25%        55.000000
50%       114.000000
75%       217.000000
max      1596.000000
Name: transactions_count, dtype: float64

In [ ]:
transactions['week'] = transactions['purchase_date'].dt.isocalendar().week
transactions.loc[transactions['purchase_date'] > '2024-12-29', 'week'] = 53 # caso borde

In [91]:
transactions.columns

Index(['customer_id', 'product_id', 'order_id', 'purchase_date', 'items',
       'week'],
      dtype='object')

In [93]:
products_per_week = transactions.groupby(['customer_id', 'week']).agg({'items': 'sum'}).reset_index()
products_per_week

       customer_id  week  items
0            25734     1      9
1            25734     2     18
2            25734     4     28
3            25734     5     15
4            25734     6     20
...            ...   ...    ...
46424      2061063    44      6
46425      2061063    46      6
46426      2061063    47     27
46427      2061063    51      8
46428      2061063    52      9

[46429 rows x 3 columns]

In [95]:
client_products_per_week = products_per_week.groupby('customer_id').agg({'items': 'mean'}).reset_index()
client_products_per_week.columns = ['customer_id', 'avg_items_per_week']
client_products_per_week.sort_values('avg_items_per_week', ascending=False, inplace=True)
client_products_per_week.head(10)

      customer_id  avg_items_per_week
401        181101          766.428571
492        188331          522.764706
483        187806          384.274510
1439       250434          323.363636
294        164064          317.480000
778        206748          317.037736
963        211407          314.600000
369        176403          285.235294
214        154890          280.098039
344        172161          271.078431

In [96]:
client_products_per_week['avg_items_per_week'].describe()

count    1490.000000
mean       17.407667
std        41.395028
min         0.666667
25%         3.763736
50%         6.710084
75%        14.410675
max       766.428571
Name: avg_items_per_week, dtype: float64

In [ ]:
# TO-DO: Implementar periodo de recompra promedio para cada producto (SKU)

## üìå Holdout [0.25 puntos]

Para evaluar correctamente el modelo y garantizar su capacidad de generalizaci√≥n, se deben dividir los datos en tres conjuntos: 
- `Entrenamiento` : Para ajustar los par√°metros.
- `Validaci√≥n`: Para optimizar hiperpar√°metros y seleccionar el mejor modelo.
- `Prueba` : Para evaluar el rendimiento final en datos no vistos.

üëÄ **Hint**: *Recuerde que los datos tienen una temporalidad que debe considerarse al momento de separarlos, para evitar fugas de informaci√≥n. Es importante justificar la estrategia de partici√≥n elegida y visualizar la distribuci√≥n temporal de los conjuntos generados*

In [11]:
# Desarrolle aqu√≠ su c√≥digo

## üìå Feature Engineering [0.5 puntos]

<center>
<img src="https://i.imgur.com/CmXZSSC.gif" width="300" height="200">

En esta secci√≥n, se deben construir pipelines para automatizar el preprocesamiento de los datos, lo cual garantizar√° que el flujo de trabajo sea reproducible y eficiente para esta entrega y las futuras. El objetivo es aplicar una serie de transformaciones en un orden definido para asegurar que los datos est√©n listos para los modelos a entrenar. El pipeline final debe incluir las t√©cnicas de pre-procesamiento que se deben aplicar a los distintos datos (seg√∫n lo que consideren necesario para el problema). Por ejemplo:

- **Imputaci√≥n de valores nulos**: Manejo de datos faltantes mediante estrategias adecuadas (media, mediana, moda, interpolaci√≥n, etc.). 

- **Transformaciones personalizadas**: Uso de ColumnTransformer para aplicar diferentes transformaciones a columnas espec√≠ficas.

- **Codificaci√≥n de variables categ√≥ricas**: Convertir datos categ√≥ricos a un formato num√©rico adecuado (One-Hot Encoding, Label Encoding, etc.).

- **Discretizaci√≥n de variables**: Conversi√≥n de variables num√©ricas continuas en categor√≠as si son relevantes para el desempe√±o del modelo a entrenar.

- **Estandarizaci√≥n o normalizaci√≥n** : Ajustar la escala de los datos para mejorar el rendimiento de los algoritmos sensibles a la magnitud de las variables.

- **Eliminaci√≥n o transformaci√≥n de valores at√≠picos**: Identificar y tratar con datos outliers para mejorar la robustez del modelo.

- **Nuevas caracter√≠sticas** : Creaci√≥n de variables adicionales que puedan aportar informaci√≥n relevante al modelo.

Cada una de estas transformaciones debe ser justificada en funci√≥n de su relevancia para el problema y los datos, y es importante evaluar su impacto en el rendimiento del modelo. Adem√°s, el pipeline debe ser flexible y modular para poder probar diferentes configuraciones de preprocesamiento.

In [13]:
# Desarrolle aqu√≠ su c√≥digo

## üìå Baseline [0.25 puntos]

<center>
<img src="https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExN3lzeGFqZmU3NzJrZHllNjRmaHVzczJpZ29rdHdlMzVpZnQwNXo1diZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/qAtZM2gvjWhPjmclZE/giphy.gif" width="300" height="200">

En esta secci√≥n se debe construir el modelo m√°s sencillo posible que pueda resolver el problema planteado, conocido como **Modelo baseline**. Su prop√≥sito es servir como referencia para comparar el rendimiento de los modelos m√°s avanzados desarrollados en etapas posteriores.  

Pasos requeridos:  
- Implemente, entrene y eval√∫e un modelo b√°sico utilizando un pipeline.  
- Aseg√∫rese de incluir en el pipeline las transformaciones del preprocesamiento realizadas previamente junto con un clasificador b√°sico.  
- Eval√∫e el modelo y presente el informe de m√©tricas utilizando **`classification_report`**.  

Documente claramente c√≥mo se cre√≥ el modelo, las decisiones tomadas y los resultados obtenidos. Este modelo ser√° la base comparativa en las secciones posteriores.

In [15]:
# Desarrolle aqu√≠ su c√≥digo

## üìå Elecci√≥n de modelo [0.75 puntos]

En esta secci√≥n deben escoger un modelo que se adapte a las necesidades del negocio. Para esto, pruebe al menos 3 modelos y desarrolle los siguientes aspectos para cada uno:

- **Estructura y diferencias entre los modelos**: Explicar brevemente cada uno y sus hip√©rpar√°metros de mayor importancia.
- **Clasificadores recomendados**:
  - `LogisticRegression`
  - `KNeighborsClassifier`
  - `DecisionTreeClassifier`
  - `SVC`
  - `RandomForestClassifier`
  - `LightGBMClassifier` (del paquete `lightgbm`)
  - `XGBClassifier` (del paquete `xgboost`)
  - Otro (seg√∫n lo que se estime adecuado)
  
- **Evaluaci√≥n de resultados**: Se utilizar√° el **`classification_report`** para evaluar el rendimiento de cada modelo, destacando m√©tricas clave como precisi√≥n, recall y F1-score. **Importante: No optimicen hiperpar√°metros, la idea es hacer una selecci√≥n r√°pida del modelo.**

**Nota:** Pueden ocupar mas de 1 **instancia** de modelo para resolver el problema (e.g: (modelo_1, grupo_1), (modelo_2, grupo_2), ...).
  
A continuaci√≥n, se deben responder las siguientes preguntas para evaluar el rendimiento de los modelos entrenados:

1. ¬øHay alg√∫n clasificador que supere al modelo baseline?  
2. ¬øCu√°l es el mejor clasificador entrenado y por qu√©?  
3. ¬øQu√© factores hacen que el mejor clasificador sea superior a los otros?  
4. En t√©rminos de `tiempo de entrenamiento`, ¬øQu√© modelo considera m√°s adecuado para experimentar con grillas de optimizaci√≥n?

In [17]:
# Desarrolle aqu√≠ su c√≥digo

## üìå Optimizaci√≥n de Hiperpar√°metros [1.0 puntos]

<center>
<img src="https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExcXJkNzdhYjlneHplaGpsbnVkdzh5dnY3Y2VyaTIzamszdGR1czJ2diZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/2rqEdFfkMzXmo/giphy.gif" width="300" height="200">

A partir de su an√°lisis anterior, se debe proceder a optimizar el rendimiento del modelo seleccionado mediante la optimizaci√≥n de sus hiperpar√°metros. Para ello, se espera que implementen `Optuna` para optimizar no solo los hiperpar√°metros del modelo, sino tambi√©n los de los preprocesadores utilizados (por ejemplo, OneHot Encoding, Scalers, etc.).

Al desarrollar este proceso, deber√°n responder las siguientes preguntas clave como m√≠nimo:

- ¬øQu√© m√©trica decidieron optimizar y por qu√©?

- ¬øQu√© hiperpar√°metro tuvo un mayor impacto en el rendimiento de su modelo?

- ¬øCu√°nto mejor√≥ el rendimiento del modelo despu√©s de la optimizaci√≥n de hiperpar√°metros?

In [20]:
# Desarrolle aqu√≠ su c√≥digo

## üìå Interpretabilidad [1.0 puntos]

En esta secci√≥n, deben explicar el funcionamiento de su modelo utilizando las t√©cnicas de interpretabilidad vistas en clase, como `SHAP`. Se espera que sean capaces de descomponer las predicciones y evaluar la importancia de los atributos y las interacciones entre ellos, con el fin de obtener una comprensi√≥n m√°s profunda de c√≥mo el modelo toma decisiones. 

Al desarrollar esta parte, deber√°n responder las siguientes preguntas clave como m√≠nimo:

- ¬øPodr√≠a explicar el funcionamiento de su modelo para una predicci√≥n en particular? Si es as√≠, proporcione al menos tres ejemplos espec√≠ficos, describiendo c√≥mo el modelo lleg√≥ a sus decisiones y qu√© factores fueron m√°s relevantes en cada caso.

- ¬øQu√© atributo tiene una mayor importancia en la salida de su modelo? Analice si esto tiene sentido con el problema planteado y justifique la relevancia de dicho atributo en el contexto de las predicciones que se realizan.

- ¬øExiste alguna interacci√≥n entre atributos que sea relevante para el modelo? Investigue si la combinaci√≥n de ciertos atributos tiene un impacto significativo en las predicciones y expl√≠quela en **detalle**.

- ¬øPodr√≠a existir sesgo hacia alg√∫n atributo en particular? Reflexione sobre la posibilidad de que el modelo est√© favoreciendo ciertos atributos. Si es as√≠, ¬øcu√°l podr√≠a ser la causa y qu√© impacto podr√≠a tener esto en la predicci√≥n?

In [21]:
# Desarrolle aqu√≠ su c√≥digo

## üìå Resultados y Conclusiones [1.0 puntos]

Para finalizar, se deben explicar los desarrollos y resultados obtenidos a lo largo de todo el proceso, desde la selecci√≥n de las variables hasta la optimizaci√≥n de hiperpar√°metros e interpretaci√≥n. Se espera una reflexi√≥n cr√≠tica sobre el desempe√±o de los modelos entrenados y una comparaci√≥n entre los diferentes enfoques. Adem√°s, deber√°n abordar los siguientes puntos clave:

- **An√°lisis de m√©tricas**: Comenten sobre las m√©tricas obtenidas en cada etapa del modelo, destacando las m√°s relevantes como precisi√≥n, recall, F1-score, etc. ¬øCu√°les fueron los modelos m√°s efectivos? ¬øQu√© diferencias notables encontr√≥ entre ellos?

- **Impacto de las decisiones tomadas**: Reflexionen sobre c√≥mo las decisiones relacionadas con el preprocesamiento, selecci√≥n de atributos y optimizaci√≥n de hiperpar√°metros influyeron en los resultados finales. ¬øHubo alguna decisi√≥n que haya tenido un impacto notable en el rendimiento?

- **Lecciones aprendidas**: Concluyan sobre las lecciones m√°s importantes que aprendieron durante el proceso y c√≥mo estas pueden influir en futuras iteraciones del modelo. ¬øQu√© se podr√≠a mejorar si se repitiera el proceso? Si tuvieran m√°s recursos y tiempo, ¬øqu√© otras t√©cnicas/herramientas habr√≠an utilizado?

> [Escriba aqu√≠ sus resultados]

Mucho √©xito!

<center>
<img src="https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExaHpvOTY5Z3hpdHI3aDBpdGRueXRqamZncXp2emFrbjJ5M2s5eTR1dSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/1PMVNNKVIL8Ig/giphy.gif" width="300" height="200">